.idea/
*.iml

releases/

test/node-1/storage/redis.json
test/node-2/storage/redis.json
test/node-1/templates/
test/node-2/templates/
test/node-1/temp/
test/node-2/temp/
test/node-1/storage/libs/
test/node-2/storage/libs/
test/node-1/storage/versions/
test/node-2/storage/versions/

**/build/
.gradle/

test/node-1/node-base-*.jar
test/node-2/node-base-*.jar

test/node-1/storage/plugin-minecraft-*.jar
test/node-2/storage/plugin-minecraft-*.jar

test/node-1/storage/plugin-proxy-*.jar
test/node-2/storage/plugin-proxy-*.jar