.idea/
*.iml

releases/

test/node-1/storage/redis.*
test/node-2/storage/redis.*
test/node-1/templates/
test/node-2/templates/
test/node-1/tmp/
test/node-2/tmp/
test/node-1/storage/libs/
test/node-2/storage/libs/
test/node-1/storage/versions/
test/node-2/storage/versions/
test/node-1/external/
test/node-2/external/

plugins/plugin-bungeecord/src/main/resources/bungee.yml
plugins/plugin-minecraft/src/main/resources/plugin.yml

*.log
*.lck

redicloud.properties
*.log

**/build/
.gradle/

node.json

test/node-1/static/
test/node-2/static/

test/node-1/node-base-*.jar
test/node-2/node-base-*.jar

redicloud-*.jar
redicloud-*.jar

version.txt
test/node-1/redi-cloud.zip
